# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [23]:
locations_df = pd.read_csv('../output_data/cities.csv')
locations_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,vaini,-21.20,-175.20,69.80,83,75,6.93,TO,1602697375
1,ketchikan,55.34,-131.65,44.60,100,75,5.82,US,1602697376
2,punta arenas,-53.15,-70.92,50.00,53,75,18.34,CL,1602697339
3,ushuaia,-54.80,-68.30,44.60,67,40,26.40,AR,1602697376
4,acarau,-2.89,-40.12,85.84,60,19,21.83,BR,1602697377
...,...,...,...,...,...,...,...,...,...
67,kavaratti,10.57,72.64,82.27,77,97,20.36,IN,1602697397
68,dikson,73.51,80.55,29.26,93,100,24.23,RU,1602697398
69,torbay,47.67,-52.73,55.00,71,75,19.46,CA,1602697398
70,upernavik,72.79,-56.15,32.70,89,0,3.40,GL,1602697398
71,kruisfontein,-34.00,24.73,61.00,69,0,4.00,ZA,1602697399

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [24]:
locations = locations_df[["Lat", "Lon"]]

heat = locations_df["Humidity"]

In [25]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = heat, dissipating = False, max_intensity = 10, point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [37]:
ideal_index = locations_df[(locations_df["Max Temp"] < 80) & (locations_df["Max Temp"] > 70) & (locations_df["Wind Speed"] < 10) & (locations_df["Cloudiness"] == 0)].index 

ideal_index

Int64Index([45], dtype='int64')

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [38]:
hotel_df = locations_df.iloc[ideal_index, :]
hotel_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
45,pindi bhattian,31.9,73.27,74.64,22,0,3.24,PK,1602697390

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure