# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
locations_df = pd.read_csv('../output_data/cities.csv')
locations_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,busselton,-33.65,115.33,54.00,58,90,12.28,AU,1602778015
1,kaitangata,-46.28,169.85,37.99,72,17,3.00,NZ,1602778015
2,albany,42.60,-73.97,68.00,49,24,3.00,US,1602778016
3,yar-sale,66.83,70.83,31.23,93,39,12.55,RU,1602778016
4,aloleng,16.13,119.78,81.01,78,38,3.58,PH,1602778016
...,...,...,...,...,...,...,...,...,...
67,khatanga,71.97,102.50,15.64,97,100,3.78,RU,1602777739
68,bambous virieux,-20.34,57.76,75.20,78,20,6.93,MU,1602778035
69,bubaque,11.28,-15.83,82.89,71,29,6.20,GW,1602778036
70,makaha,21.47,-158.22,75.20,100,1,8.86,US,1602778036
71,sabha,27.04,14.43,91.26,12,0,5.19,LY,1602778036

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = locations_df[["Lat", "Lon"]]

heat = locations_df["Humidity"]

In [4]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = heat, dissipating = False, max_intensity = 10, point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_index = locations_df[(locations_df["Max Temp"] < 80) & (locations_df["Max Temp"] > 70) & (locations_df["Wind Speed"] < 10) & (locations_df["Cloudiness"] < 40)].index 

ideal_index

Int64Index([49, 55, 62, 68, 70], dtype='int64')

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = locations_df.iloc[ideal_index, :]
hotel_df["Hotel Name"] = ""

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# params = {
#     "location": (f"{hotel_df.iloc[0,1]}, {hotel_df.iloc[0,2]}"),
#     "name": "hotel",
#     "radius": 5000,
#     "key": g_key
# }

#location = (hotel_df.iloc[0, 1], hotel_df.iloc[0, 2])

# response = requests.get(base_url, params = params)
# response

hotel_df

C:\Users\Administrator\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
49,honiara,-9.43,159.95,75.2,100,20,3.36,SB,1602778030,
55,kardamaina,36.78,27.14,75.2,64,0,6.93,GR,1602778032,
62,makakilo city,21.35,-158.09,75.2,88,20,3.36,US,1602777788,
68,bambous virieux,-20.34,57.76,75.2,78,20,6.93,MU,1602778035,
70,makaha,21.47,-158.22,75.2,100,1,8.86,US,1602778036,

In [35]:
for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lon = row["Lon"]
    
    params = {
    "location": f"{lat}, {lon}",
    "name": "hotel",
    "radius": 5000,
    "key": g_key
}
    response = requests.get(base_url, params = params)
    print(response.url)

#     location = row["Lat"], row["Lon"]
#     print(location)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-9.43%2C+159.95&name=hotel&radius=5000&key=AIzaSyA214csaEfgcwJZb854af8vJ4zi6V0Oj2Y
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=36.78%2C+27.14&name=hotel&radius=5000&key=AIzaSyA214csaEfgcwJZb854af8vJ4zi6V0Oj2Y
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=21.35%2C+-158.09&name=hotel&radius=5000&key=AIzaSyA214csaEfgcwJZb854af8vJ4zi6V0Oj2Y
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-20.34%2C+57.76&name=hotel&radius=5000&key=AIzaSyA214csaEfgcwJZb854af8vJ4zi6V0Oj2Y
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=21.47%2C+-158.22&name=hotel&radius=5000&key=AIzaSyA214csaEfgcwJZb854af8vJ4zi6V0Oj2Y

In [ ]:
print(f"{hotel_df.iloc[0,1]},", f"{hotel_df.iloc[0,2]}")
print(params["location"])

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [ ]:
hotel_info

In [ ]:
# Add marker layer ontop of heat map


# Display figure