# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [65]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [66]:
#Load the cities csv created in WeatherPy into locations dataframe and display
locations_df = pd.read_csv('../output_data/cities.csv')
locations_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,lucea,18.45,-78.17,81.00,78,40,6.93,JM,1602792265
1,castro,-24.79,-50.01,64.87,93,98,6.33,BR,1602792265
2,naze,28.37,129.48,73.40,78,14,3.36,JP,1602792265
3,yar-sale,66.83,70.83,31.55,94,97,11.88,RU,1602792265
4,bitung,1.45,125.18,73.40,100,40,2.77,ID,1602792266
...,...,...,...,...,...,...,...,...,...
551,cravo norte,6.30,-70.20,90.46,56,83,3.13,CO,1602792453
552,margate,51.38,1.39,52.00,82,79,1.99,GB,1602792454
553,olafsvik,64.89,-23.71,47.43,72,98,8.88,IS,1602792454
554,ucluelet,48.93,-125.55,54.00,87,75,6.93,CA,1602792165
555,necochea,-38.55,-58.74,62.01,76,0,1.99,AR,1602792352

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [67]:
#Set the value of locations to the Lat and Lon values in locations dataframe
locations = locations_df[["Lat", "Lon"]]

#Set the heat value to the Humidity values in locations dataframe
heat = locations_df["Humidity"]

In [68]:
#Create a figure using gmaps
fig = gmaps.figure()

#Create a heat map using the locations variable above and the heat variable for the weight of the heatmap
heat_layer = gmaps.heatmap_layer(locations, weights = heat, dissipating = False, max_intensity = 10, point_radius = 1)

#Add heatmap layer to fig and display it
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [69]:
#Find indexes of locations where Max Temp is between 70 and 80, the Wind Speed is less than 10, and the Cloudiness is less than 40
ideal_index = locations_df[(locations_df["Max Temp"] < 80) & (locations_df["Max Temp"] > 70) & (locations_df["Wind Speed"] < 10) & (locations_df["Cloudiness"] < 40)].index 

#Show indexes
ideal_index

Int64Index([  2,  52,  73, 152, 197, 221, 229, 231, 234, 243, 245, 253, 257,
            264, 265, 269, 283, 298, 325, 329, 376, 396, 411, 412, 429, 437,
            472, 485, 489, 503, 515],
           dtype='int64')

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [71]:
#Create a new dataframe using the idexes of just the ideal location from above
hotel_df = locations_df.iloc[ideal_index, :]

#Generate the base url for json search
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#Display ideal locations pulled from above
hotel_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,naze,28.37,129.48,73.40,78,14,3.36,JP,1602792265
52,nishihara,26.18,127.76,77.00,83,20,6.93,JP,1602792280
73,vredendal,-31.67,18.50,72.32,31,0,9.60,ZA,1602792287
152,santa rosa,14.31,121.11,78.80,88,20,3.36,PH,1602792313
197,kieta,-6.22,155.63,78.98,77,36,0.60,PG,1602792328
221,sakakah,29.97,40.21,77.00,17,0,6.93,SA,1602792336
229,pyay,18.82,95.22,75.97,92,21,0.56,MM,1602792339
231,kampene,-3.60,26.67,70.75,85,4,1.32,CD,1602792339
234,grand gaube,-20.01,57.66,75.00,74,0,5.01,MU,1602792340
243,san luis,-33.30,-66.34,78.37,29,18,5.12,AR,1602792343
245,otse,-25.02,25.73,75.20,44,0,4.70,BW,1602792343
253,karratha,-20.74,116.85,74.03,38,0,8.55,AU,1602792346
257,xalpatlahuac,17.47,-98.62,76.19,58,6,3.71,MX,1602792347
264,dhangadhi,28.71,80.60,73.33,66,0,2.98,NP,1602792349
265,lodja,-3.48,23.43,70.97,95,9,0.98,CD,1602792350
269,richards bay,-28.78,32.04,71.67,68,0,7.54,ZA,1602792351
283,salalah,17.02,54.09,78.80,83,20,2.24,OM,1602792212
298,tura,25.52,90.22,73.02,94,0,1.97,IN,1602792361
325,ismailia,30.60,32.27,72.10,84,0,6.55,EG,1602792175
329,kununurra,-15.77,128.73,73.40,94,0,5.53,AU,1602792318
376,yaan,7.38,8.57,75.83,88,0,4.36,NG,1602792389
396,atrauli,28.03,78.28,77.13,29,0,5.46,IN,1602792397
411,lambarene,-0.70,10.24,75.04,87,37,5.64,GA,1602792403
412,bayji,34.93,43.49,76.08,26,0,9.46,IQ,1602792404
429,angoche,-16.23,39.91,74.21,82,20,9.89,MZ,1602792410
437,nawa,27.02,75.00,78.13,18,0,6.26,IN,1602792413
472,le port,-20.94,55.29,71.60,73,25,6.93,RE,1602792427
485,tamale,9.40,-0.84,79.05,82,15,4.94,GH,1602792431
489,najran,17.49,44.13,71.60,18,0,5.82,SA,1602792433
503,nhulunbuy,-12.23,136.77,73.40,88,7,8.10,AU,1602792438
515,soyo,-6.13,12.37,76.14,80,1,6.35,AO,1602792442

In [75]:
#Loop through each row in the data frame to perform json calculations
for index, row in hotel_df.iterrows():
    
    #Store lat and lon values into variable to properly pass into google places api call
    lat = row["Lat"]
    lon = row["Lon"]
    
    #Set parameters for google api call
    params = {
    "location": f"{lat}, {lon}",
    "name": "hotel",
    "radius": 5000,
    "key": g_key
}

    #Generate a call to google places api at specified location within params
    response = requests.get(base_url, params = params)
    
    #Store json data into variable
    hotel_data = response.json()
    print(f"Reading row: {index}")
    print("Gathering json data\n")


    #Try/Except statement to read hotel name at json value, then create a new column called hotel name, and store that json value in the new column. If no value found, except pushes code along
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/results....skipping.\n")

#End of print process
print("-----------------------------")
print("Data retrieval comlete!")
print("-----------------------------")

Reading row: 2
Gathering json data

Reading row: 52
Gathering json data

Reading row: 73
Gathering json data

Reading row: 152
Gathering json data

Reading row: 197
Gathering json data

Missing field/results....skipping.

Reading row: 221
Gathering json data

Reading row: 229
Gathering json data

Reading row: 231
Gathering json data

Missing field/results....skipping.

Reading row: 234
Gathering json data

Reading row: 243
Gathering json data

Reading row: 245
Gathering json data

Missing field/results....skipping.

Reading row: 253
Gathering json data

Reading row: 257
Gathering json data

Missing field/results....skipping.

Reading row: 264
Gathering json data

Reading row: 265
Gathering json data

Missing field/results....skipping.

Reading row: 269
Gathering json data

Reading row: 283
Gathering json data

Reading row: 298
Gathering json data

Reading row: 325
Gathering json data

Reading row: 329
Gathering json data

Reading row: 376
Gathering json data

Missing field/results....skipping.

Reading row: 396
Gathering json data

Missing field/results....skipping.

Reading row: 411
Gathering json data

Reading row: 412
Gathering json data

Missing field/results....skipping.

Reading row: 429
Gathering json data

Reading row: 437
Gathering json data

Missing field/results....skipping.

Reading row: 472
Gathering json data

Missing field/results....skipping.

Reading row: 485
Gathering json data

Reading row: 489
Gathering json data

Missing field/results....skipping.

Reading row: 503
Gathering json data

Reading row: 515
Gathering json data

-----------------------------
Data retrieval comlete!
-----------------------------

In [76]:
#Print hotel dataframe with updated hotel names
hotel_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
2,naze,28.37,129.48,73.40,78,14,3.36,JP,1602792265,Hotel New Amami
52,nishihara,26.18,127.76,77.00,83,20,6.93,JP,1602792280,百名伽藍
73,vredendal,-31.67,18.50,72.32,31,0,9.60,ZA,1602792287,Voorsorg Guest House
152,santa rosa,14.31,121.11,78.80,88,20,3.36,PH,1602792313,El Cielito Hotel - Sta. Rosa
197,kieta,-6.22,155.63,78.98,77,36,0.60,PG,1602792328,NaN
221,sakakah,29.97,40.21,77.00,17,0,6.93,SA,1602792336,Raoum Inn Hotel
229,pyay,18.82,95.22,75.97,92,21,0.56,MM,1602792339,Lucky Dragon Hotel
231,kampene,-3.60,26.67,70.75,85,4,1.32,CD,1602792339,NaN
234,grand gaube,-20.01,57.66,75.00,74,0,5.01,MU,1602792340,LUX Grand Gaube Resort & Villas
243,san luis,-33.30,-66.34,78.37,29,18,5.12,AR,1602792343,Hotel Premium Tower Suites San Luis
245,otse,-25.02,25.73,75.20,44,0,4.70,BW,1602792343,NaN
253,karratha,-20.74,116.85,74.03,38,0,8.55,AU,1602792346,Karratha International Hotel
257,xalpatlahuac,17.47,-98.62,76.19,58,6,3.71,MX,1602792347,NaN
264,dhangadhi,28.71,80.60,73.33,66,0,2.98,NP,1602792349,Hotel Jalsa
265,lodja,-3.48,23.43,70.97,95,9,0.98,CD,1602792350,NaN
269,richards bay,-28.78,32.04,71.67,68,0,7.54,ZA,1602792351,BON Hotel Waterfront Richards Bay
283,salalah,17.02,54.09,78.80,83,20,2.24,OM,1602792212,Al Jabal
298,tura,25.52,90.22,73.02,94,0,1.97,IN,1602792361,Hotel Polo Orchid
325,ismailia,30.60,32.27,72.10,84,0,6.55,EG,1602792175,Tolip Alforsan Island Hotel And Spa
329,kununurra,-15.77,128.73,73.40,94,0,5.53,AU,1602792318,ibis Styles Kununurra
376,yaan,7.38,8.57,75.83,88,0,4.36,NG,1602792389,NaN
396,atrauli,28.03,78.28,77.13,29,0,5.46,IN,1602792397,NaN
411,lambarene,-0.70,10.24,75.04,87,37,5.64,GA,1602792403,Ogooue Palace
412,bayji,34.93,43.49,76.08,26,0,9.46,IQ,1602792404,NaN
429,angoche,-16.23,39.91,74.21,82,20,9.89,MZ,1602792410,Guest House HESADA
437,nawa,27.02,75.00,78.13,18,0,6.26,IN,1602792413,NaN
472,le port,-20.94,55.29,71.60,73,25,6.93,RE,1602792427,NaN
485,tamale,9.40,-0.84,79.05,82,15,4.94,GH,1602792431,Jeyads Lodge
489,najran,17.49,44.13,71.60,18,0,5.82,SA,1602792433,NaN
503,nhulunbuy,-12.23,136.77,73.40,88,7,8.10,AU,1602792438,Walkabout Lodge & Tavern
515,soyo,-6.13,12.37,76.14,80,1,6.35,AO,1602792442,Kinwica

In [77]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [78]:
# Add marker layer ontop of heat map
marker_locations = hotel_df[["Lat", "Lon"]]
markers = gmaps.marker_layer(marker_locations, hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))