# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
locations_df = pd.read_csv('../output_data/cities.csv')
locations_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,bathsheba,13.22,-59.52,87.80,66,40,9.17,BB,1602698703
1,mareeba,-17.00,145.43,72.00,83,40,9.17,AU,1602698414
2,ambilobe,-13.20,49.05,76.42,62,76,3.29,MG,1602698703
3,yellowknife,62.46,-114.35,25.00,62,90,27.51,CA,1602698704
4,izumo,35.37,132.77,59.00,93,75,3.36,JP,1602698704
...,...,...,...,...,...,...,...,...,...
74,qianan,44.99,124.06,37.44,63,79,12.08,CN,1602698725
75,dicabisagan,17.08,122.42,79.56,86,100,9.73,PH,1602698726
76,sao joao da barra,-21.64,-41.05,86.00,55,7,16.11,BR,1602698726
77,sanlucar la mayor,37.39,-6.20,73.40,23,0,9.17,ES,1602698726
78,houma,29.60,-90.72,84.99,57,1,4.70,US,1602698704

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = locations_df[["Lat", "Lon"]]

heat = locations_df["Humidity"]

In [4]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = heat, dissipating = False, max_intensity = 10, point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_index = locations_df[(locations_df["Max Temp"] < 80) & (locations_df["Max Temp"] > 70) & (locations_df["Wind Speed"] < 10) & (locations_df["Cloudiness"] < 40)].index 

ideal_index

Int64Index([38, 77], dtype='int64')

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [20]:
hotel_df = locations_df.iloc[ideal_index, :]
hotel_df["Hotel Name"] = ""

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# params = {
#     "location": (hotel_df.iloc[0, 1], hotel_df.iloc[0, 2]),
#     "type": "hospital",
#     "radius": 5000,
#     "key": g_key,
# }

location = (hotel_df.iloc[0, 1], hotel_df.iloc[0, 2])

# response = requests.get(base_url, params = params)
# response

url = f"{base_url}location={location}&key={g_key}"
print(url)

https://maps.googleapis.com/maps/api/place/nearbysearch/jsonlocation=(-8.77, 160.7)&key=AIzaSyA214csaEfgcwJZb854af8vJ4zi6V0Oj2Y

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure