# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
locations_df = pd.read_csv('../output_data/cities.csv')
locations_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,mahebourg,-20.41,57.70,73.40,83,75,9.17,MU,1602788515
1,rikitea,-23.12,-134.97,73.98,77,100,19.62,PF,1602788504
2,dicabisagan,17.08,122.42,78.19,86,97,5.75,PH,1602788758
3,los llanos de aridane,28.66,-17.92,75.20,73,90,10.29,ES,1602788759
4,vila velha,-20.33,-40.29,78.01,78,90,17.22,BR,1602788483
...,...,...,...,...,...,...,...,...,...
65,busselton,-33.65,115.33,53.01,58,100,11.03,AU,1602788518
66,kodiak,57.79,-152.41,42.80,75,1,11.41,US,1602788570
67,esperance,-33.87,121.90,55.40,100,90,6.93,AU,1602788447
68,saint george,37.10,-113.58,79.00,24,1,3.36,US,1602788573
69,new norfolk,-42.78,147.06,42.01,75,7,2.46,AU,1602788777

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = locations_df[["Lat", "Lon"]]

heat = locations_df["Humidity"]

In [4]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = heat, dissipating = False, max_intensity = 10, point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_index = locations_df[(locations_df["Max Temp"] < 80) & (locations_df["Max Temp"] > 70) & (locations_df["Wind Speed"] < 10) & (locations_df["Cloudiness"] < 40)].index 

ideal_index

Int64Index([6, 22, 50, 56, 68], dtype='int64')

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = locations_df.iloc[ideal_index, :]
hotel_df["Hotel Name"] = ""

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# params = {
#     "location": (f"{hotel_df.iloc[0,1]}, {hotel_df.iloc[0,2]}"),
#     "name": "hotel",
#     "radius": 5000,
#     "key": g_key
# }

#location = (hotel_df.iloc[0, 1], hotel_df.iloc[0, 2])

# response = requests.get(base_url, params = params)
# response

hotel_df

C:\Users\Administrator\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
6,saint-philippe,-21.36,55.77,73.40,69,1,8.05,RE,1602788518,
22,albany,42.60,-73.97,73.00,45,22,1.01,US,1602788347,
50,waynesville,35.49,-82.99,71.01,56,35,3.00,US,1602788771,
56,san luis,-33.30,-66.34,76.95,31,20,4.81,AR,1602788773,
68,saint george,37.10,-113.58,79.00,24,1,3.36,US,1602788573,

In [12]:
for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lon = row["Lon"]
    
    params = {
    "location": f"{lat}, {lon}",
    "name": "hotel",
    "radius": 5000,
    "key": g_key
}
    response = requests.get(base_url, params = params)
    #print(index)
    
    hotel_data = response.json()
    print('Successfully pulled json')
    hotel_df["Hotel Name"] = hotel_data["results"][0]["name"]

#     location = row["Lat"], row["Lon"]
#     print(location)

Successfully pulled json

C:\Users\Administrator\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Successfully pulled json

IndexError: list index out of range

In [ ]:
hotel_df

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [ ]:
hotel_info

In [ ]:
# Add marker layer ontop of heat map


# Display figure